## ðŸ§  **Project Title: Personal Expense Tracker**

### ðŸŽ¯ **Goal**

Build a personal expense tracking system that:

* Stores transaction data in a SQL database
* Allows querying and analysis of spending habits
* Provides visualizations and reports using Python

---
---

### ðŸ§° **Skills Practiced**

* Python: `pandas`, `sqlite3` / `sqlalchemy`, `datetime`, `matplotlib`
* SQL: `JOIN`, `GROUP BY`, `ORDER BY`, subqueries, CTEs
* Software design: modular scripting, file I/O
* Optional: Web dev with Flask/Streamlit

### âœ… **Objectives**

#### 1. **Database Design (SQL)**

* Create a PostgreSQL (or SQLite for simplicity) database with the following tables:

  * `users` (user\_id, name, email)
  * `categories` (category\_id, name)
  * `expenses` (expense\_id, user\_id, amount, date, category\_id, description)
* Practice using foreign keys and data normalization.

#### 2. **Data Ingestion (Python + SQL)**

* Create a Python script or CLI tool to:

  * Input new expenses (manual or from a CSV/Excel file)
  * Validate inputs and insert into the database

#### 3. **SQL Queries for Analysis**

* Write SQL queries to answer:

  * Total spent this month?
  * Top 3 categories this year?
  * Average monthly expenses?
  * How does this month compare to last month?
* Use Python to execute these queries and display results.

#### 4. **Data Visualization (Python)**

* Use `matplotlib`, `seaborn`, or `plotly` to:

  * Plot expenses by category
  * Monthly spending trends
  * Pie chart of category breakdown

#### 5. **(Bonus) Web Interface**

* Optional: Build a simple Streamlit app or Flask dashboard to:

  * Input new transactions
  * View charts and analytics
  * Export reports as CSV

In [2]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
conn = sqlite3.connect("Personal_Expenses_project.db")

In [7]:
# Total spent this month?
spent_this_month_df = ''' 
    SELECT SUM(amount) AS money_spent
    FROM expenses
    WHERE strftime('%Y-%m', date) == strftime('%Y-%m', 'now);'''

In [8]:
# Top 3 categories this year?
top_cat = '''
    SELECT 
    c.name,
    COUNT(e.category_id) AS cat_count
    FROM categories c
    LEFT JOIN expenses e ON c.category_id = e.category_id
    WHERE strftime('%Y', date) = strftime('%Y', 'now')
    GROUP BY c.category
    ORDER BY cat_count DESC
    LIMIT 3;
    '''

top_cat_df = pd.read_sql_query(top_cat,conn)
print(top_cat_df)

DatabaseError: Execution failed on sql '
    SELECT
    c.name,
    COUNT(e.category_id) AS cat_count
    FROM categories c
    LEFT JOIN expenses e ON c.category_id = e.category_id
    WHERE strftime('%Y', date) = strftime('%Y', 'now')
    GROUP BY c.category
    ORDER BY cat_count DESC
    LIMIT 3;
    ': no such table: categories

In [ ]:
# Average monthly expenses?